@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
 
.header{
    width: 100%;
    height: 8vh;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4); 
    font-family: 'Roboto';
    padding: 0 2rem;
}

.enlaces{
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
    width: 33%;
}

.enlaces a{
    text-decoration: none;
    color: white;
    transition: all ease 0.3s;
    font-family: 'Roboto';
}

.enlaces a:nth-child(1){
    color: rgb(103, 103, 180);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5px;
    
}

.enlaces a:hover{
    color: rgb(32, 32, 207);
}



.iconos{
    width: 33%;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.384);
    gap: 2rem;
    font-size: 1.2rem;
}

.iconos i{
    cursor: pointer;
    transition: all ease 0.2s;
}

.iconos i:hover{
    color: rgba(255, 255, 255, 0.74);
}

.domicilio{
    width: 60%;
}

.domicilio p{
    font-size: 0.65rem;
    color: white;
    margin: 0;
}